.TimesNewRoman {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
}
.Gothic {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
}
.Sans-Serif {
    font-family: sans-serif;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
}
.react-draggable:hover {
cursor:pointer;
}
.FontSize-1 {
    font-size: calc(1 * 0.15rem);
}
.FontSize-2 {
    font-size: calc(1.5 * 0.15rem);
}
.FontSize-3 {
    font-size: calc(2 * 0.15rem);
}
.FontSize-4 {
    font-size: calc(2.5 * 0.15rem);
}
.FontSize-5 {
    font-size: calc(3 * 0.15rem);
}
.FontSize-6 {
    font-size: calc(3.5 * 0.15rem);
}
.FontSize-7 {
    font-size: calc(4 * 0.15rem);
}
.FontSize-8 {
    font-size: calc(4.5 * 0.15rem);
}
.FontSize-9 {
    font-size: calc(5 * 0.15rem);
}
.FontSize-10 {
    font-size: calc(5.5 * 0.15rem);
}
.FontSize-11 {
    font-size: calc(6 * 0.15rem);
}
.FontSize-12 {
    font-size: calc(6.5 * 0.15rem);
}
.FontSize-13 {
    font-size: calc(7 * 0.15rem);
}
.FontSize-14 {
    font-size: calc(7.5 * 0.15rem);
}
.FontSize-15 {
    font-size: calc(8 * 0.15rem);
}
.FontSize-16 {
    font-size: calc(9 * 0.15rem);
}
.FontSize-17 {
    font-size: calc(10 * 0.15rem);
}
.FontSize-18 {
    font-size: calc(11 * 0.15rem);
}
.FontSize-19 {
    font-size: calc(12 * 0.15rem);
}
.FontSize-20 {
    font-size: calc(13 * 0.15rem);
}
.FontSize-21 {
    font-size: calc(14 * 0.15rem);
}
.FontSize-22 {
    font-size: calc(15 * 0.15rem);
}
.FontSize-23 {
    font-size: calc(16 * 0.15rem);
}
.FontSize-24 {
    font-size: calc(18 * 0.15rem);
}
.FontSize-25 {
    font-size: calc(20 * 0.15rem);
}
.FontSize-26 {
    font-size: calc(22 * 0.15rem);
}
.FontSize-27 {
    font-size: calc(24 * 0.15rem);
}
.FontSize-28 {
    font-size: calc(26 * 0.15rem);
}
.FontSize-29 {
    font-size: calc(28 * 0.15rem);
}
.FontSize-30 {
    font-size: calc(30 * 0.15rem);
}
.FontSize-31 {
    font-size: calc(32 * 0.15rem);
}
.FontSize-32 {
    font-size: calc(34 * 0.15rem);
}
.FontSize-33 {
    font-size: calc(36 * 0.15rem);
}
.FontSize-34 {
    font-size: calc(38 * 0.15rem);
}
.FontSize-35 {
    font-size: calc(40 * 0.15rem);
}
.FontSize-36 {
    font-size: calc(43 * 0.15rem);
}
.FontSize-37 {
    font-size: calc(46 * 0.15rem);
}
.FontSize-38 {
    font-size: calc(49 * 0.15rem);
}
.FontSize-39 {
    font-size: calc(52 * 0.15rem);
}
.FontSize-40 {
    font-size: calc(54 * 0.15rem);
}
.FontSize-41 {
    font-size: calc(56 * 0.15rem);
}
.FontSize-42 {
    font-size: calc(58 * 0.15rem);
}
.FontSize-43 {
    font-size: calc(60 * 0.15rem);
}
.FontSize-44 {
    font-size: calc(62 * 0.15rem);
}
.FontSize-45 {
    font-size: calc(64 * 0.15rem);
}
.FontSize-46 {
    font-size: calc(66 * 0.15rem);
}
.FontSize-47 {
    font-size: calc(68 * 0.15rem);
}
.FontSize-48 {
    font-size: calc(70 * 0.15rem);
}
.FontSize-49 {
    font-size: calc(72 * 0.15rem);
}
.FontSize-50 {
    font-size: calc(74 * 0.15rem);
}
.FontSize-51 {
    font-size: calc(76 * 0.15rem);
}
.FontSize-52 {
    font-size: calc(78 * 0.15rem);
}
.FontSize-53 {
    font-size: calc(81 * 0.15rem);
}
.FontSize-54 {
    font-size: calc(84 * 0.15rem);
}
.FontSize-55 {
    font-size: calc(87 * 0.15rem);
}
.FontSize-56 {
    font-size: calc(90 * 0.15rem);
}
.FontSize-57 {
    font-size: calc(93 * 0.15rem);
}
.FontSize-58 {
    font-size: calc(96 * 0.15rem);
}
.FontSize-59 {
    font-size: calc(98 * 0.15rem);
}
.FontSize-60 {
    font-size: calc(100 * 0.15rem);
}
.FontSize-61 {
    font-size: calc(102 * 0.15rem);
}
.FontSize-62 {
    font-size: calc(104 * 0.15rem);
}
.FontSize-63 {
    font-size: calc(105 * 0.15rem);
}
.FontSize-64 {
    font-size: calc(106 * 0.15rem);
}
.FontSize-65 {
    font-size: calc(107 * 0.15rem);
}
.FontSize-66 {
    font-size: calc(108 * 0.15rem);
}
.FontSize-67 {
    font-size: calc(109 * 0.15rem);
}
.FontSize-68 {
    font-size: calc(110 * 0.15rem);
}
.FontSize-69 {
    font-size: calc(111 * 0.15rem);
}
.FontSize-70 {
    font-size: calc(112 * 0.15rem);
}
.FontSize-71 {
    font-size: calc(113 * 0.15rem);
}
.FontSize-72 {
    font-size: calc(114 * 0.15rem);
}
.FontSize-73 {
    font-size: calc(115 * 0.15rem);
}
.FontSize-74 {
    font-size: calc(116 * 0.15rem);
}
.FontSize-75 {
    font-size: calc(117 * 0.15rem);
}
.FontSize-76 {
    font-size: calc(118 * 0.15rem);
}
.FontSize-77 {
    font-size: calc(119 * 0.15rem);
}
.FontSize-78 {
    font-size: calc(120 * 0.15rem);
}
.FontSize-79 {
    font-size: calc(121 * 0.15rem);
}
.FontSize-80 {
    font-size: calc(122 * 0.15rem);
}
.FontSize-81 {
    font-size: calc(123 * 0.15rem);
}
.FontSize-82 {
    font-size: calc(124 * 0.15rem);
}
.FontSize-83 {
    font-size: calc(125 * 0.15rem);
}
.FontSize-84 {
    font-size: calc(126 * 0.15rem);
}
.FontSize-85 {
    font-size: calc(127 * 0.15rem);
}
.FontSize-86 {
    font-size: calc(128 * 0.15rem);
}
.FontSize-87 {
    font-size: calc(129 * 0.15rem);
}
.FontSize-88 {
    font-size: calc(130 * 0.15rem);
}
.FontSize-89 {
    font-size: calc(131 * 0.15rem);
}
.FontSize-90 {
    font-size: calc(132 * 0.15rem);
}
.FontSize-91 {
    font-size: calc(133 * 0.15rem);
}
.FontSize-92 {
    font-size: calc(134 * 0.15rem);
}
.FontSize-93 {
    font-size: calc(135 * 0.15rem);
}
.FontSize-94 {
    font-size: calc(136 * 0.15rem);
}
.FontSize-95 {
    font-size: calc(137 * 0.15rem);
}
.FontSize-96 {
    font-size: calc(138 * 0.15rem);
}
.FontSize-97 {
    font-size: calc(139 * 0.15rem);
}
.FontSize-98 {
    font-size: calc(140 * 0.15rem);
}
.FontSize-99 {
    font-size: calc(141 * 0.15rem);
}
.FontSize-100 {
    font-size: calc(142 * 0.15rem);
}