.TimesNewRoman {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
}
.Gothic {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
}
.Sans-Serif {
    font-family: sans-serif;
    font-size: 24px;
    color: rgba(0,0,0,0.8);
}
.FontSize-50 {
    font-size: calc(50 * 0.15rem);
}
.FontSize-51 {
    font-size: calc(51 * 0.15rem);
}
.FontSize-52 {
    font-size: calc(52 * 0.15rem);
}
.FontSize-53 {
    font-size: calc(53 * 0.15rem);
}
.FontSize-54 {
    font-size: calc(54 * 0.15rem);
}
.FontSize-55 {
    font-size: calc(55 * 0.15rem);
}
.FontSize-56 {
    font-size: calc(56 * 0.15rem);
}
.FontSize-57 {
    font-size: calc(57 * 0.15rem);
}
.FontSize-58 {
    font-size: calc(58 * 0.15rem);
}
.FontSize-59 {
    font-size: calc(59 * 0.15rem);
}
.FontSize-60 {
    font-size: calc(60 * 0.15rem);
}
.FontSize-61 {
    font-size: calc(61 * 0.15rem);
}
.FontSize-62 {
    font-size: calc(62 * 0.15rem);
}
.FontSize-63 {
    font-size: calc(63 * 0.15rem);
}
.FontSize-64 {
    font-size: calc(64 * 0.15rem);
}
.FontSize-65 {
    font-size: calc(65 * 0.15rem);
}
.FontSize-66 {
    font-size: calc(66 * 0.15rem);
}
.FontSize-67 {
    font-size: calc(67 * 0.15rem);
}
.FontSize-68 {
    font-size: calc(68 * 0.15rem);
}
.FontSize-69 {
    font-size: calc(69 * 0.15rem);
}
.FontSize-70 {
    font-size: calc(70 * 0.15rem);
}
.FontSize-71 {
    font-size: calc(71 * 0.15rem);
}
.FontSize-72 {
    font-size: calc(72 * 0.15rem);
}
.FontSize-73 {
    font-size: calc(73 * 0.15rem);
}
.FontSize-74 {
    font-size: calc(74 * 0.15rem);
}
.FontSize-75 {
    font-size: calc(75 * 0.15rem);
}
.FontSize-76 {
    font-size: calc(76 * 0.15rem);
}
.FontSize-77 {
    font-size: calc(77 * 0.15rem);
}
.FontSize-78 {
    font-size: calc(78 * 0.15rem);
}
.FontSize-79 {
    font-size: calc(79 * 0.15rem);
}
.FontSize-80 {
    font-size: calc(80 * 0.15rem);
}
.FontSize-81 {
    font-size: calc(81 * 0.15rem);
}
.FontSize-82 {
    font-size: calc(82 * 0.15rem);
}
.FontSize-83 {
    font-size: calc(83 * 0.15rem);
}
.FontSize-84 {
    font-size: calc(84 * 0.15rem);
}
.FontSize-85 {
    font-size: calc(85 * 0.15rem);
}
.FontSize-86 {
    font-size: calc(86 * 0.15rem);
}
.FontSize-87 {
    font-size: calc(87 * 0.15rem);
}
.FontSize-88 {
    font-size: calc(88 * 0.15rem);
}
.FontSize-89 {
    font-size: calc(89 * 0.15rem);
}
.FontSize-90 {
    font-size: calc(90 * 0.15rem);
}
.FontSize-91 {
    font-size: calc(91 * 0.15rem);
}
.FontSize-92 {
    font-size: calc(92 * 0.15rem);
}
.FontSize-93 {
    font-size: calc(93 * 0.15rem);
}
.FontSize-94 {
    font-size: calc(94 * 0.15rem);
}
.FontSize-95 {
    font-size: calc(95 * 0.15rem);
}
.FontSize-96 {
    font-size: calc(96 * 0.15rem);
}
.FontSize-97 {
    font-size: calc(97 * 0.15rem);
}
.FontSize-98 {
    font-size: calc(98 * 0.15rem);
}
.FontSize-99 {
    font-size: calc(99 * 0.15rem);
}
.FontSize-100 {
    font-size: calc(100 * 0.15rem);
}