.ImageSize-1 img {
    width: calc(1 * 0.25rem);
}
.ImageSize-2 img {
    width: calc(1.5 * 0.25rem);
}
.ImageSize-3 img {
    width: calc(2 * 0.25rem);
}
.ImageSize-4 img {
    width: calc(2.5 * 0.25rem);
}
.ImageSize-5 img {
    width: calc(3 * 0.25rem);
}
.ImageSize-6 img {
    width: calc(3.5 * 0.25rem);
}
.ImageSize-7 img {
    width: calc(4 * 0.25rem);
}
.ImageSize-8 img {
    width: calc(4.5 * 0.25rem);
}
.ImageSize-9 img {
    width: calc(5 * 0.25rem);
}
.ImageSize-10 img {
    width: calc(5.5 * 0.25rem);
}
.ImageSize-11 img {
    width: calc(6 * 0.25rem);
}
.ImageSize-12 img {
    width: calc(6.5 * 0.25rem);
}
.ImageSize-13 img {
    width: calc(7 * 0.25rem);
}
.ImageSize-14 img {
    width: calc(7.5 * 0.25rem);
}
.ImageSize-15 img {
    width: calc(8 * 0.25rem);
}
.ImageSize-16 img {
    width: calc(9 * 0.25rem);
}
.ImageSize-17 img {
    width: calc(10 * 0.25rem);
}
.ImageSize-18 img {
    width: calc(11 * 0.25rem);
}
.ImageSize-19 img {
    width: calc(12 * 0.25rem);
}
.ImageSize-20 img {
    width: calc(13 * 0.25rem);
}
.ImageSize-21 img {
    width: calc(14 * 0.25rem);
}
.ImageSize-22 img {
    width: calc(15 * 0.25rem);
}
.ImageSize-23 img {
    width: calc(16 * 0.25rem);
}
.ImageSize-24 img {
    width: calc(18 * 0.25rem);
}
.ImageSize-25 img {
    width: calc(20 * 0.25rem);
}
.ImageSize-26 img {
    width: calc(22 * 0.25rem);
}
.ImageSize-27 img {
    width: calc(24 * 0.25rem);
}
.ImageSize-28 img {
    width: calc(26 * 0.25rem);
}
.ImageSize-29 img {
    width: calc(28 * 0.25rem);
}
.ImageSize-30 img {
    width: calc(30 * 0.25rem);
}
.ImageSize-31 img {
    width: calc(32 * 0.25rem);
}
.ImageSize-32 img {
    width: calc(34 * 0.25rem);
}
.ImageSize-33 img {
    width: calc(36 * 0.25rem);
}
.ImageSize-34 img {
    width: calc(38 * 0.25rem);
}
.ImageSize-35 img {
    width: calc(40 * 0.25rem);
}
.ImageSize-36 img {
    width: calc(43 * 0.25rem);
}
.ImageSize-37 img {
    width: calc(46 * 0.25rem);
}
.ImageSize-38 img {
    width: calc(49 * 0.25rem);
}
.ImageSize-39 img {
    width: calc(52 * 0.25rem);
}
.ImageSize-40 img {
    width: calc(54 * 0.25rem);
}
.ImageSize-41 img {
    width: calc(56 * 0.25rem);
}
.ImageSize-42 img {
    width: calc(58 * 0.25rem);
}
.ImageSize-43 img {
    width: calc(60 * 0.25rem);
}
.ImageSize-44 img {
    width: calc(62 * 0.25rem);
}
.ImageSize-45 img {
    width: calc(64 * 0.25rem);
}
.ImageSize-46 img {
    width: calc(66 * 0.25rem);
}
.ImageSize-47 img {
    width: calc(68 * 0.25rem);
}
.ImageSize-48 img {
    width: calc(70 * 0.25rem);
}
.ImageSize-49 img {
    width: calc(72 * 0.25rem);
}
.ImageSize-50 img {
    width: calc(74 * 0.25rem);
}
.ImageSize-51 img {
    width: calc(76 * 0.25rem);
}
.ImageSize-52 img {
    width: calc(78 * 0.25rem);
}
.ImageSize-53 img {
    width: calc(81 * 0.25rem);
}
.ImageSize-54 img {
    width: calc(84 * 0.25rem);
}
.ImageSize-55 img {
    width: calc(87 * 0.25rem);
}
.ImageSize-56 img {
    width: calc(90 * 0.25rem);
}
.ImageSize-57 img {
    width: calc(93 * 0.25rem);
}
.ImageSize-58 img {
    width: calc(96 * 0.25rem);
}
.ImageSize-59 img {
    width: calc(98 * 0.25rem);
}
.ImageSize-60 img {
    width: calc(100 * 0.25rem);
}
.ImageSize-61 img {
    width: calc(102 * 0.25rem);
}
.ImageSize-62 img {
    width: calc(104 * 0.25rem);
}
.ImageSize-63 img {
    width: calc(105 * 0.25rem);
}
.ImageSize-64 img {
    width: calc(106 * 0.25rem);
}
.ImageSize-65 img {
    width: calc(107 * 0.25rem);
}
.ImageSize-66 img {
    width: calc(108 * 0.25rem);
}
.ImageSize-67 img {
    width: calc(109 * 0.25rem);
}
.ImageSize-68 img {
    width: calc(110 * 0.25rem);
}
.ImageSize-69 img {
    width: calc(111 * 0.25rem);
}
.ImageSize-70 img {
    width: calc(112 * 0.25rem);
}
.ImageSize-71 img {
    width: calc(113 * 0.25rem);
}
.ImageSize-72 img {
    width: calc(114 * 0.25rem);
}
.ImageSize-73 img {
    width: calc(115 * 0.25rem);
}
.ImageSize-74 img {
    width: calc(116 * 0.25rem);
}
.ImageSize-75 img {
    width: calc(117 * 0.25rem);
}
.ImageSize-76 img {
    width: calc(118 * 0.25rem);
}
.ImageSize-77 img {
    width: calc(119 * 0.25rem);
}
.ImageSize-78 img {
    width: calc(120 * 0.25rem);
}
.ImageSize-79 img {
    width: calc(121 * 0.25rem);
}
.ImageSize-80 img {
    width: calc(122 * 0.25rem);
}
.ImageSize-81 img {
    width: calc(123 * 0.25rem);
}
.ImageSize-82 img {
    width: calc(124 * 0.25rem);
}
.ImageSize-83 img {
    width: calc(125 * 0.25rem);
}
.ImageSize-84 img {
    width: calc(126 * 0.25rem);
}
.ImageSize-85 img {
    width: calc(127 * 0.25rem);
}
.ImageSize-86 img {
    width: calc(128 * 0.25rem);
}
.ImageSize-87 img {
    width: calc(129 * 0.25rem);
}
.ImageSize-88 img {
    width: calc(130 * 0.25rem);
}
.ImageSize-89 img {
    width: calc(131 * 0.25rem);
}
.ImageSize-90 img {
    width: calc(132 * 0.25rem);
}
.ImageSize-91 img {
    width: calc(133 * 0.25rem);
}
.ImageSize-92 img {
    width: calc(134 * 0.25rem);
}
.ImageSize-93 img {
    width: calc(135 * 0.25rem);
}
.ImageSize-94 img {
    width: calc(136 * 0.25rem);
}
.ImageSize-95 img {
    width: calc(137 * 0.25rem);
}
.ImageSize-96 img {
    width: calc(138 * 0.25rem);
}
.ImageSize-97 img {
    width: calc(139 * 0.25rem);
}
.ImageSize-98 img {
    width: calc(140 * 0.25rem);
}
.ImageSize-99 img {
    width: calc(141 * 0.25rem);
}
.ImageSize-100 img {
    width: calc(142 * 0.25rem);
}